[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,RST,S,W
ignore =
    # Missing type annotation for self in method:
    ANN101,
    # Missing type annotation for cls in classmethod:
    ANN102,
    # One-line docstring should fit on one line with quotes:
    D200,
    # No blank lines allowed after function docstring:
    D202,
    # 1 blank line required between summary line and description:
    D205,
    # First line should end with a period:
    D400,
    # Others:
    E023,E501,W503
max-complexity = 10
max-line-length = 80
application-import-names = dd_cfr,tests
import-order-style = google
per-file-ignores =
	docs/conf.py:D100,F401
	tests/*:S101,ANN,D100,D101,D102,D103,D104
	noxfile.py:ANN,D100,D103
exclude =
	.nox
	.venv

# Allow Sphinx RST roles; inspired by:
# https://github.com/peterjc/flake8-rst-docstrings/pull/16
rst-roles =
    attr, class, func, meth, mod, obj, ref, term,
    # Python programming language:
    py:func, py:mod,
